<!-- adminCreated.html
Created by: Michael Cole
Updated by: Michael Cole
------------------------
Form that allows an admin to
create an account -->

{% extends 'base.html' %}

{% block content %}

{% include 'navbar-admin.html' %}

<div class="vh-100">
    <div class="container-fluid row h-75 align-items-center">

        <div class="container form-card col-md-5">
            <h1>Create Admin Account</h1>
            <br>

            <form action="/admin/create" method="post" role="form">
                {{ form.csrf_token }}
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">


                <div class="form-field">
                    {{ form.username.label }}
                    {{ form.username(class_ = "form-control") }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        {{ form.firstname.label }}
                        {{ form.firstname(class_ = "form-control") }}
                    </div>
                    <div class="col">
                        {{ form.lastname.label }}
                        {{ form.lastname(class_ = "form-control") }}
                    </div>
                </div>
                <br>

                <div class="form-field">
                    {{ form.password.label }}
                    {{ form.password(class_ = "form-control") }}
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                <br>

                <div class="form-field">
                    {{ form.passwordConfirm.label }}
                    {{ form.passwordConfirm(class_ = "form-control") }}
                        {% if form.passwordConfirm.errors %}
                            {% for error in form.passwordConfirm.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>

                <br>
                <div class="form-field">
                    <a href="/admin/login">Log In to your admin account</a>
                    {{ form.submit(class_ = "btn btn-primary rounded-pill", style="float: right;") }}
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}