<table class="table table-sm table-bordered table-hover"
       data-toggle="table" data-pagination="true"
       data-search="true">
    <caption>- Admin Table (raw) --- password column removed -</caption>
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>firstname</th>
            <th>lastname</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
                <tr>
                    <th scope="row">{{ admin.id }}</th>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.firstname }}</td>
                    <td>{{ admin.lastname }}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>