
{% extends 'base.html' %}

{% block content %}

{% include 'navbar-admin.html' %}

<div class="vh-100">
    <div class="container-fluid row h-75 align-items-center">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <div class="container form-card col-md-5">
            <h1>Log In</h1>
            <br>

            <form action="/admin/login" method="POST" role="form">
                {{ form.csrf_token }}
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">


                <div class="form-field">
                    {{ form.username.label }}
                    {{ form.username(class_ = "form-control") }}
                </div>
                <br>

                <div class="form-field">
                    {{ form.password.label }}
                    {{ form.password(class_ = "form-control") }}
                </div>

                <br>
                <div class="form-field">
                    <a href="/admin/create">Create an admin account</a>
                    {{ form.submit(class_ ="btn btn-primary rounded-pill", style="float: right;") }}
                </div>
            </form>

        </div>

    </div>
</div>

{% endblock %}