{% extends 'base.html' %}

{% block content %}

{% include 'navbar-admin.html' %}

<div class="vh-100">
    <div class="container-fluid row h-75 align-items-center">

        <div class="container form-card col-md-5">
            <h1>Authenticate Admin Account</h1>
            <p>The authentication code has been emailed to the app owner for validation.</p>
            <br>

            <form action="/admin/authenticate" method="post" role="form">
                {{ form.csrf_token }}
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="password" value="{{ password }}">
                <input type="hidden" name="firstname" value="{{ firstname }}">
                <input type="hidden" name="lastname" value="{{ lastname }}">

                <div class="form-field">
                    {{ form.secret_code.label }}
                    {{ form.secret_code(class_ = "form-control") }}
                </div>

                <br>
                <div class="form-field">
                    {{ form.submit(class_ = "btn btn-primary rounded-pill", style="float: right;") }}
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}