{% extends 'base.html' %}

{% block content %}

{% include 'navbar-admin.html' %}
<br>
<br>
{% if form.errors %}
    <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h5 class="alert-heading">The operation has been cancelled due to the following error(s)</h3>
            <ul>
                {% for error in form.errors.ep_num %}
                    <li>
                        <p>{{ error }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="vh-100">
    <div class="container-fluid">
        {% if current_user.firstname %}
            <h1>Welcome {{ current_user.firstname }}</h1>
        {% else %}
            <h1>Welcome {{ current_user.username }}</h1>
        {% endif %}
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addEntryForm">Add Entry</button>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addParticipantForm">Add Participant</button>
        <a href="/refreshGraphs"><button class="btn btn-primary" type="button">Refresh Graphs</button></a>
    </div>
    <br>
    <br>

    <div class="container col-10">
        <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="usefulRogue-tab" data-toggle="tab" href="#usefulRogues" role="tab" aria-controls="usefulRogues" aria-selected="true">
                    Rogues
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="usefulGuest-tab" data-toggle="tab" href="#usefulGuests" role="tab" aria-controls="usefulGuests" aria-selected="false">
                    Guests
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="usefulEpisodes-tab" data-toggle="tab" href="#usefulEpisodes" role="tab" aria-controls="usefulEpisodes" aria-selected="false">
                    Episodes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="participant-tab" data-toggle="tab" href="#participants" role="tab" aria-controls="participants" aria-selected="false">
                    Participants (db)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="episode-tab" data-toggle="tab" href="#episodes" role="tab" aria-controls="episodes" aria-selected="false">
                    Episodes (db)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="result-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">
                    Results (db)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="admins" aria-selected="false">
                    Admins (db)
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="usefulRogues" role="tabpanel" aria-labelledby="usefulRogues-tab">{% include 'userFriendlyRogues-table.html' %}</div>
            <div class="tab-pane fade" id="usefulGuests" role="tabpanel" aria-labelledby="usefulGuests-tab">{% include 'userFriendlyGuests-table.html' %}</div>
            <div class="tab-pane fade" id="usefulEpisodes" role="tabpanel" aria-labelledby="usefulEpisodes-tab">{% include 'userFriendlyEpisodes-table.html' %}</div>
            <div class="tab-pane fade" id="participants" role="tabpanel" aria-labelledby="participant-tab">{% include 'participant-table.html' %}</div>
            <div class="tab-pane fade" id="episodes" role="tabpanel" aria-labelledby="episode-tab">{% include 'episode-table.html' %}</div>
            <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="result-tab">{% include 'result-table.html' %}</div>
            <div class="tab-pane fade" id="admins" role="tabpanel" aria-labelledby="admin-tab">{% include 'admin-table.html' %}</div>
        </div>
    </div>
</div>

<!-- Add Entry Modal -->
<div class="modal fade" id="addEntryForm" tabindex="-1" role="dialog" aria-labelledby="addEntryForm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="addEntryFormTitle">Add Entry</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'addEntry.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Add Participant Modal -->
<div class="modal fade" id="addParticipantForm" tabindex="-1" role="dialog" aria-labelledby="addParticipantForm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="addParticipantFormTitle">Add Participant</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'addParticipant.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
