<!-- episode-table.html
Created by: Michael Cole
Updated by: Michael Cole
------------------------
Table that displays data from the episodes table
in the db. -->

<table class="table table-sm table-bordered table-hover"
       data-toggle="table" data-pagination="true"
       data-search="true">
    <caption>- Episode Table (raw) -</caption>
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>ep_num</th>
            <th>date</th>
            <th>num_items</th>
            <th>theme</th>
        </tr>
    </thead>
    <tbody>
        {% for episode in episodes %}
                <tr>
                    <th scope="row">{{ episode.id }}</th>
                    <td>{{ episode.ep_num }}</td>
                    <td>{{ episode.date }}</td>
                    <td>{{ episode.num_items }}</td>
                    <td>{{ episode.theme }}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>
