<table class="table table-sm table-bordered table-hover">
    <caption>Episode Info</caption>
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Episode Number</th>
            <th>Date</th>
            <th>Number of Items</th>
            <th>Theme</th>
        </tr>
    </thead>
    {% for episode in episodes %}
        <tbody>
            <tr>
                <th scope="row">{{ episode.id }}</th>
                <td>{{ episode.ep_num }}</td>
                <td>{{ episode.date }}</td>
                <td>{{ episode.num_items }}</td>
                <td>{{ episode.theme }}</td>
            </tr>
        </tbody>
    {% endfor %}
</table>