<div class="row container-fluid">
    <div class="form-group">
        <input type="text" name="guest" id="guest-id" placeholder="Name" class="form-control">
    </div>
    <div class="row container-fluid">
        <div class="form-check form-check-inline">
            <input type="radio" name="radio-guest" id="correct-guest" value="correct" class="form-check-input">
            <label for="correct-guest" class="form-check-label">Correct</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" name="radio-guest" id="incorrect-guest" value="incorrect" class="form-check-input">
            <label for="incorrect-guest" class="form-check-label">Incorrect</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" name="radio-guest" id="absent-guest" value="absent" class="form-check-input">
            <label for="absent-guest" class="form-check-label">Absent</label>
        </div>
        <div class="form-check">
            <input type="radio" name="radio-guest" id="presenter-guest" value="presenter" class="form-check-input">
            <label for="presenter-guest" class="form-check-label">Presenter</label>
        </div>
    </div>
</div>