{% extends 'base.html' %}

{% block content %}

<div class="vh-100">

  {% include 'navbar.html' %}

  <div class="container-fluid row align-items-center h-100">

    <!-- Title and Graph Options -->
    <div class="container col-xl-2">

      <h1>Science or Fiction</h1>

      <form action="/" method="POST" role="form">
        {{ form.csrf_token }}

        <div class="form-field">
          <input type="hidden" name="graphType" value="{{ graphType }}">

          <label for="year">Year</label>
          <select name="year" for="year" id="year-id" class="form-control">
            <option value="overall"
            {% if year == 'overall' %} selected=selected
            {% endif %}>Overall</option>
            {% for year in years %}
              <option value="{{ year }}" 
                {% if year == graphYear %} selected=selected 
                {% endif %}>
                  {{ year }}</option>
            {% endfor %}
          </select>

        </div>
        <br>
        <div class="form-field">
          <input class="btn btn-primary rounded-pill" type="submit" value="Submit">
        </div>
        <br>
      </form>

    </div>
    
    <!-- Graph -->
    <div class="container col-xl-10">
      {% include 'bokeh/' + graph + '.html' %}
    </div>

  {% include 'footer.html' %}
  </div>

</div>

{% endblock %}