<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary">

    <div class="navbar-header">
        <a href="/" class="navbar-brand"><img src="../static/images/sguLogo.png" alt="SGU Logo" width="100" height="50"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupported">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a href="/admin" class="nav-link" style="text-align: center;">Admin</a>
                </li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/overallAccuracy" class="nav-link">Overall Accuracy</a>
            </li>
            <li class="nav-item">
                <a href="/accuracyOverTime" class="nav-link">Accuracy Over Time</a>
            </li>
            <li class="nav-item">
                <a href="/sweeps" class="nav-link">Sweeps</a>
            </li>
            <li class="nav-item">
                <a href="/data" class="nav-link">Data</a>
            </li>
        </ul>
    </div>

</nav>