<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary">

    <div class="navbar-header">
        <a href="/" class="navbar-brand"><img src="../static/images/sguLogo.png" alt="SGU Logo" width="100" height="50"></a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/overallAccuracy" class="nav-link">Overall Accuracy</a>
            </li>
            <li class="nav-item">
                <a href="/accuracyOverTime" class="nav-link">Accuracy Over Time</a>
            </li>
            <li class="nav-item">
                <a href="/sweeps" class="nav-link">Sweeps</a>
            </li>
            <li class="nav-item">
                <a href="/rogues" class="nav-link">Rogues</a>
            </li>
            <li class="nav-item">
                <a href="/guests" class="nav-link">Guests</a>
            </li>
            <li class="nav-item">
                <a href="/episodes" class="nav-link">Episdoes</a>
            </li>
        </ul>
    </div>

</nav>