<!-- participant-table.html
Created by: Michael Cole
Updated by: Michael Cole
------------------------
Table that displays data from the participants table
in the db. -->

<table class="table table-sm table-bordered table-hover"
       data-toggle="table" data-pagination="true"
       data-search="true">
    <caption>- Participant Table (raw) -</caption>
    <thead class="thead-dark">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>date_created</th>
            <th>is_rogue</th>
            <th>rogue_start_date</th>
            <th>rogue_end_date</th>
        </tr>
    </thead>
    <tbody>
        {% for participant in participants %}
                <tr>
                    <th scope="row">{{ participant.id }}</th>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.date_created }}</td>
                    <td>{{ participant.is_rogue }}</td>
                    <td>{{ participant.rogue_start_date}}</td>
                    <td>{{ participant.rogue_end_date}}</td>
                </tr>
        {% endfor %}
    </tbody>
</table>