<table class="table table-sm table-bordered table-hover"
       data-toggle="table" data-pagination="true"
       data-search="true">
    <caption>- Rogue Table -</caption>
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Correct</th>
            <th>Incorrect</th>
            <th>Accuracy</th>
        </tr>
    </thead>
    <tbody>
        {% for rogue in userFriendlyRogues %}
            <tr>
                <th>{{ rogue.name }}</th>
                <td>{{ rogue.rogue_start_date }}</td>
                <td>{{ rogue.rogue_end_date }}</td>
                <td>{{ rogue.correct }}</td>
                <td>{{ rogue.incorrect }}</td>
                <td>{{ ((rogue.correct/(rogue.correct+rogue.incorrect))*100)|round(2)}}%</td>
            </tr>
        {% endfor %}
    </tbody>
</table>